@keyframes flash {
    0%, 100% {
        background-color: white;
    }
    50% {
        background-color: rgb(0, 0, 0);
    }
}

body {
    animation: flash 0.3s infinite;
}



#Timer{
    font-size: 40px;
}
.input-box{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 400px;
   

    
}

.question {
    display: flex;
    gap: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
   
}